# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.virtualenvs/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temp files
*.log
logs/
error.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor files
.vscode/
.idea/
*.iml

# System-specific files
.DS_Store
Thumbs.db
